*{
    margin: 0;
    padding: 0;
}

#game-container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}
#score-info {

    font-size: 30px;
}

#restart-button {
    font-size: 27px;
    padding: 5px 10px;
    border: 2px solid lime;
    border-radius: 10px;
}